In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\prafulla.kamble\\Downloads\\0PRK\\ML\\DataScience_Tips_Tricks_and_Career_Advice-master'

In [3]:
os.chdir(os.getcwd()+"\\Convert_SQL_Queries_into_Python_Pandas")

In [4]:
os.getcwd()

'C:\\Users\\prafulla.kamble\\Downloads\\0PRK\\ML\\DataScience_Tips_Tricks_and_Career_Advice-master\\Convert_SQL_Queries_into_Python_Pandas'

In [5]:
os.listdir()

['Convert_SQL_Queries_into_Python_Pandas.ipynb',
 'Convert_SQL_Queries_into_Python_Pandas.py',
 'Mall_Customers.csv',
 'Mall_Customers_Transactions.csv',
 'Shop_Customers.csv']

In [6]:
df = pd.read_csv("Mall_Customers.csv")
df.head()

   CustomerID   Genre  Age  Annual_Income_K_Dollars  Spending_Score_1_to_100
0           1    Male   19                       15                       39
1           2    Male   21                       15                       81
2           3  Female   20                       16                        6
3           4  Female   23                       16                       77
4           5  Female   31                       17                       40

In [7]:
len(df)

200

In [10]:
# 3 selet CustomerID from df where Annual_Income_K_Dollars == 16;
df[df.Annual_Income_K_Dollars == 16].CustomerID

2    3
3    4
Name: CustomerID, dtype: int64

In [11]:
df[[df.Annual_Income_K_Dollars == 16]][['CustomerID','Age']]

ValueError: Item wrong length 1 instead of 200.

In [ ]:
# selct * from df where ann.. == 16 and Spend... == 6

df[(df.Annual_Income_K_Dollars > 16)  & (df.Spending_Score_1_to_100 == 6)]

In [ ]:
# select Age, Spen... from df where ann == 16 and spen.. == 6
df[(df.Annual_Income_K_Dollars == 16) & (df.Spending_Score_1_to_100 == 6)][['Age','Genre','CustomerID']]

In [ ]:
# select mean(Age), max(Age), min(Age) from df
df.agg({'Age': ['mean','max','median']})

In [ ]:
# select DISTINCT Annnual....uniuqe()
df['Annual_Income_K_Dollars'].unique()

In [ ]:
# select * from df where genre = 'Female' order by Spen....;
df[df['Genre'] == 'Female'].sort_values('Annual_Income_K_Dollars')

In [ ]:
# select * from df where genre = 'Female' order by Spen.... desc;
df[df['Genre'] == 'Female'].sort_values('Annual_Income_K_Dollars', ascending=False)

In [ ]:
# select genre, age, count(*) from df group by genre, age;
df.groupby(['Genre','Age']).size().to_frame('Count').reset_index()
# size() to count
# to_frame to give a name to a count column name

In [ ]:
# select genre, age, count(*) from df group by age,genre DESC;
df.groupby(['Age','Genre']).size().to_frame('Count').reset_index().sort_values(['Age','Genre'],ascending=False)

In [ ]:
# select Age, COUNT(*) from df groupby Age having count(*) < 3
df.groupby('Age').filter(lambda g: len(g) < 3).groupby('Age').size()

In [ ]:
# select * from df where age IN (10,20,30);
df[df.Age.isin([60,20,30])]

In [ ]:
# select * from df where age NOT IN (10,20,30);
df[~df.Age.isin([60,20,30])]

In [ ]:
# select * from df order by spend.... linit 10;
df.nlargest(10,columns='Spending_Score_1_to_100')

In [ ]:
# se(lect * from df order by spend....  DESC linit 10 offset 10;
df.nlargest(20,columns='Spending_Score_1_to_100').tail(10)

In [ ]:
df = pd.read_csv( 'Mall_Customers.csv')
df.head()

In [ ]:
# select * from df where annu... > 50 union all select * from shop_cust < 50
pd.concat([df[df.Annual_Income_K_Dollars > 50], df[df.Annual_Income_K_Dollars < 45]])

### JOINS

In [ ]:
df_transaction = pd.read_csv('Mall_Customers_Transactions.csv')
df_transaction.head()

In [ ]:
# select * from cust c JOIN transactios t on c.custID = t.custID where c.Genre='Female';
df.merge(df_transaction[df.Genre == 'Female'],left_on='CustomerID',
         right_on='CustID',how='inner')

### INSERT

In [ ]:
# insert into df values(11,22,33);
df = df.append({'CustomerID':402,'Genre':'Female', 'Age':32,'Annual_Income_K_Dollars':123,'Spending_Score_1_to_100':70},ignore_index=True)
df

### UPDATE

In [ ]:
# update df set spen... = 7 where spen... = 6;
df[df.Spending_Score_1_to_100 == 6]

In [ ]:
df = df.loc[df['Spending_Score_1_to_100'] == 6,'Spending_Score_1_to_100'] = 7

In [ ]:
# deletefrom df where spen... = 7
df.drop(df[df.Spending_Score_1_to_100 == 7].index)